*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.master {
  width: 100%;
  overflow-x: hidden;
}

section {
  margin-bottom: 3.5rem;
}

p {
  font-family: "Lato", serif;
}

.top-header {
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity, 1));
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.top-header .left-group {
  display: flex;
}

.top-header .left-group .menu-btn {
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity, 1));
}

.menu-btn {
  display: flex;
  align-items: center;
}

.menu-btn i {
  margin-right: 0.25rem;
  width: 0.75rem;
}

.src-form input {
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity, 1));
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.src-form button {
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity, 1));
}

.top-header .left-group span {
  margin-left: 1rem;
  margin-right: 1rem;
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}

.btn {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity, 1));
}

.btn.primary {
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(66 159 211 / var(--tw-bg-opacity, 1));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.btn.primary:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(25 118 186 / var(--tw-bg-opacity, 1));
}

.btn.btn-more {
  display: block;
  width: 100%;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(148 163 184 / var(--tw-border-opacity, 1));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity, 1));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.btn.btn-more:hover {
  --tw-border-opacity: 1;
  border-color: rgb(200 155 2 / var(--tw-border-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(200 155 2 / var(--tw-text-opacity, 1));
}

.mi-container {
  margin-left: auto;
  margin-right: auto;
  width: 1340px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.bottom-header {
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-bottom-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.logo {
  margin-right: 3rem;
  height: 3.5rem;
  width: 10rem;
}

.logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main-menu {
  display: flex;
}

.main-menu li {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.main-menu li a {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.banner {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  text-align: center;
}

.banner a,
    .banner iframe {
  display: inline-block;
  line-height: 1;
}

.pic img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*SECTION TITLE*/

.section-title {
  position: relative;
  margin-bottom: 1rem;
  width: 100%;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-bottom-color: rgb(226 232 240 / var(--tw-border-opacity, 1));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.section-title::before {
  position: absolute;
  bottom: -1px;
  left: 0px;
  height: 1px;
  width: 2rem;
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity, 1));
}

.section-title h3 {
  font-family: "Lato", serif;
  font-size: 16px;
  font-weight: 700;
}

/*SECTION TITLE END*/

/* NEWS ITEM */

.news-item {
  width: 100%;
}

.news-item .text h3 {
  margin-bottom: 0.5rem;
  width: 100%;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
}

.news-item .text p {
  width: 100%;
  font-family: "Lato", serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity, 1));
}

.meta-info {
  display: flex;
  width: 100%;
  align-items: center;
}

.meta-info .time {
  font-size: 0.75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity, 1));
}

.meta-info .kanal {
  margin-right: 0.75rem;
  border-right-width: 1px;
  --tw-border-opacity: 1;
  border-right-color: rgb(203 213 225 / var(--tw-border-opacity, 1));
  padding-right: 0.75rem;
  font-size: 0.75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity, 1));
}

.meta-info .premium-label {
  margin-right: 0.75rem;
  --tw-bg-opacity: 1;
  background-color: rgb(200 155 2 / var(--tw-bg-opacity, 1));
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 0.75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

/* NEWS ITEM END */

/*HEADLINE*/

.headline .mi-container {
  position: relative;
  height: 480px;
}

.headline-item {
  position: absolute;
  height: 15rem;
  width: 25%;
  padding: 0.25rem;
}

.headline-item:first-child {
  margin-left: 0px;
  margin-bottom: 0px;
  height: 480px;
  padding-left: 0px;
  width: calc(50% - 16px);
}

.headline-item:nth-child(2),
    .headline-item:nth-child(3) {
  top: 0px;
}

.headline-item:nth-child(4),
    .headline-item:nth-child(5) {
  top: 50%;
}

.headline-item:nth-child(2),
    .headline-item:nth-child(4) {
  left: 50%;
}

.headline-item:nth-child(3),
    .headline-item:nth-child(5) {
  right: 0px;
}

.headline-item .text {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 20;
  width: 100%;
  padding: 2rem;
}

.headline-item .text h1 {
  margin-bottom: 0.5rem;
  width: 100%;
  font-family: "Libre Baskerville", serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.headline-item .text h2 {
  margin-bottom: 0.5rem;
  width: 100%;
  font-family: "Libre Baskerville", serif;
  font-size: 17px;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.headline-item .text p {
  margin-bottom: 0.75rem;
  font-family: "Lato", serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.headline-item .pic {
  position: relative;
  height: 100%;
}

.headline-item .pic::before {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 10;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
  --tw-gradient-from: #020617 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(2 6 23 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  content: var(--tw-content);
  --tw-gradient-to: rgba(0,0,0,0) var(--tw-gradient-to-position);
}

.headline-item .pic img {
  display: block;
}

/* NEWS LIST 1 */

.news-list-1 {
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.5rem;
}

.news-list-1 .news-item {
  grid-column: span 1 / span 1;
}

.news-list-1 .news-item:first-child {
  grid-column: span 2 / span 2;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-bottom-color: rgb(203 213 225 / var(--tw-border-opacity, 1));
  padding-bottom: 1.5rem;
}

.news-list-1 .pic {
  margin-bottom: 1rem;
  width: 100%;
}

.news-list-1 .meta-info {
  margin-bottom: 0.5rem;
}

.news-list-1 .news-item:first-child .text h3 {
  font-size: 22px;
}

.news-list-1.grid-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.news-list-1.grid-3 .news-item {
  grid-column: span 1 / span 1;
}

.news-list-1.grid-3 .news-item:first-child {
  grid-column: span 3 / span 3;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 1rem;
}

.news-list-1.grid-3 .news-item:first-child .pic {
  grid-column: span 5 / span 5;
  margin-bottom: 0px;
}

.news-list-1.grid-3 .news-item:first-child .text {
  grid-column: span 7 / span 7;
}

/* NEWS LIST 1 END*/

/* NEWS LIST 2 */

.news-list-2 {
  width: 100%;
}

.news-list-2 .news-item {
  margin-bottom: 1.5rem;
}

.news-list-2 .news-item .text h3 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.news-list-2 .meta-info {
  margin-bottom: 0.75rem;
}

.news-list-2 .news-item .text p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.news-list-2 .news-item .pic {
  margin-bottom: 0.75rem;
}

/* NEWS LIST 2 END */

/* NEWS LIST 3 */

.news-list-3 {
  width: 100%;
}

.news-list-3 .news-item {
  margin-bottom: 1.5rem;
  display: flex;
  width: 100%;
}

.news-list-3 .news-item .pic {
  height: 4rem;
  width: 4rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(203 213 225 / var(--tw-border-opacity, 1));
}

.news-list-3 .news-item .text {
  padding-left: 1rem;
}

.news-list-3 .news-item .text h3 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

/* NEWS LIST 3 END */

/* EPAPER CARD */

.e-paper-card {
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(38 68 120 / var(--tw-bg-opacity, 1));
  padding: 1rem;
}

.e-paper-card .btn.primary {
  margin-top: 1rem;
  display: block;
  width: 100%;
  border-radius: 0px;
  text-align: center;
}

/* EPAPER CARD END */

/* NEWS LIST 4 */

.news-list-4 {
  width: 100%;
}

.news-list-4 .news-item {
  margin-bottom: 1.5rem;
  display: flex;
}

.news-list-4 .news-item:first-child {
  flex-wrap: wrap;
}

.news-list-4 .news-item .pic {
  height: 4rem;
  width: 100%;
  max-width: 4rem;
}

.news-list-4 .news-item:first-child .pic {
  height: 12rem;
  width: 100%;
  max-width: none;
}

.news-list-4 .news-item .text {
  padding-left: 0.75rem;
}

.news-list-4 .news-item:first-child .text {
  padding-left: 0px;
}

.news-list-4 .news-item .text h3 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.news-list-4 .news-item:first-child .pic {
  margin-bottom: 1rem;
}

.news-list-4 .news-item:first-child .meta-info {
  margin-bottom: 0.75rem;
}

/* NEWS LIST 4 END */

/* TOPIC */

.topic-card {
  width: 100%;
}

.topic-title {
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(38 68 120 / var(--tw-bg-opacity, 1));
  padding: 0.75rem;
  text-align: center;
  font-family: "Lato", serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.topic-card-ct {
  display: flex;
  align-items: center;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(203 213 225 / var(--tw-border-opacity, 1));
  padding: 1rem;
}

.topic-card-ct .pic {
  width: 100%;
  max-width: 6rem;
}

.topic-card-ct .text {
  padding-left: 1rem;
}

.topic-card-ct .text span {
  margin-bottom: 0.25rem;
  display: block;
  font-family: "Lato", serif;
  font-size: 0.75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(200 155 2 / var(--tw-text-opacity, 1));
}

.topic-card-ct .text h3 {
  width: 100%;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
}

/* TOPIC END */

/* RUBRIK CARD */

.rubrik-card {
  width: 100%;
}

.rubrik-card .text {
  display: flex;
  justify-content: space-between;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.rubrik-card .text button {
  height: 2rem;
  width: 2rem;
  border-radius: 9999px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(203 213 225 / var(--tw-border-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity, 1));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.rubrik-card .text button:hover {
  --tw-border-opacity: 1;
  border-color: rgb(66 159 211 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(66 159 211 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.rubrik-card .text h4 {
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
  font-weight: 700;
}

.rubrik-card .text span {
  font-size: 0.75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity, 1));
}

.rubrik-group {
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.rubrik-group .pic {
  height: 8rem;
}

.rubrik-group .topics-list {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.rubrik-group .topics-list button {
  margin-right: 0.5rem;
  margin-bottom: 0.75rem;
  display: inline-block;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-family: "Lato", serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.rubrik-group .topics-list button:hover {
  --tw-border-opacity: 1;
  border-color: rgb(15 23 42 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

/* RUBRIK CARD END*/

/* NEWS LIST 5 */

.news-list-5 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
}

.news-list-5 .news-item {
  grid-column: span 1 / span 1;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.25rem;
}

.news-list-5 .news-item .pic {
  height: 13rem;
}

.news-list-5 .news-item .meta-info {
  margin-bottom: 0.75rem;
}

.news-list-5 .news-item .text p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

/* NEWS LIST 5 END */

/* VIDEO */

.small-media {
  width: 100%;
}

.small-media .video-item {
  margin-bottom: 1.25rem;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 1.25rem;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-bottom-color: rgb(203 213 225 / var(--tw-border-opacity, 1));
  padding-bottom: 1.25rem;
}

.small-media .video-item .pic {
  grid-column: span 5 / span 5;
  height: 6rem;
}

.small-media .video-item .text {
  grid-column: span 7 / span 7;
}

.small-media .video-item .text h3 {
  margin-bottom: 0.75rem;
  font-family: "Libre Baskerville", serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}

.big-media {
  width: 100%;
}

.big-media .pic {
  margin-bottom: 1rem;
  height: 500px;
}

.big-media .text h3 {
  margin-bottom: 0.75rem;
  font-family: "Libre Baskerville", serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.big-media .meta-info {
  margin-bottom: 0.75rem;
}

.big-media .text p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity, 1));
}

/* VIDEO END */

/* NEWS LIST 6 */

.news-list-6 {
  width: 100%;
}

.news-list-6 .news-item {
  margin-bottom: 1.5rem;
  display: flex;
}

.news-list-6 .news-item .meta-info {
  margin-bottom: 0.75rem;
}

.news-list-6 .news-item .pic {
  width: 100%;
  max-width: 4rem;
}

.news-list-6 .news-item .text {
  padding-left: 1.25rem;
}

.news-list-6 .news-item .text h3 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.news-list-6 .news-item:first-child {
  flex-wrap: wrap;
}

.news-list-6 .news-item:first-child .pic {
  margin-bottom: 0.75rem;
  max-width: none;
}

.news-list-6 .news-item:first-child .text {
  padding-left: 0px;
}

/* NEWS LIST 6 END */

/* INFOGRAPHIC CARD */

.infographic-card {
  width: 100%;
}

.infographic-card .pic {
  height: 12rem;
}

.infographic-card .text {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity, 1));
  padding: 1rem;
}

.infographic-card .text h3 {
  margin-bottom: 0.75rem;
  font-family: "Libre Baskerville", serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}

/* INFOGRAPHIC CARD END */

.logo-group {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-group img {
  height: 2.25rem;
  width: 5rem;
  -o-object-fit: contain;
     object-fit: contain;
}

/* FOOTER */

footer {
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity, 1));
  padding-top: 4rem;
  padding-bottom: 4rem;
  --tw-text-opacity: 1;
  color: rgb(226 232 240 / var(--tw-text-opacity, 1));
}

footer h4 {
  margin-bottom: 2rem;
  font-family: "Libre Baskerville", serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}

footer h5 {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
}

.sitemap a {
  display: block;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

footer p {
  margin-bottom: 0px;
  font-size: 0.75rem;
  line-height: 1rem;
}

footer p i {
  margin-right: 0.5rem;
}

.foot-bottom {
  --tw-bg-opacity: 1;
  background-color: rgb(2 6 23 / var(--tw-bg-opacity, 1));
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(226 232 240 / var(--tw-text-opacity, 1));
}

.social li {
  margin-left: 1rem;
}

/* FOOTER END */

.premium-img {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.premium-img img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.3;
}

.premium-img .text {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 800px;
  text-align: center;
}

.premium-img .text h1 {
  margin-bottom: 1rem;
  font-family: "Libre Baskerville", serif;
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.premium-img .text p {
  font-family: "Lato", serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.article-ct {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  width: 100%;
  max-width: 1000px;
}

.tool-bt-group {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-bottom-color: rgb(203 213 225 / var(--tw-border-opacity, 1));
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.tool-bt-group .love-bt,
    .tool-bt-group .bt {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.tool-bt-group .love-bt {
  position: relative;
  display: flex;
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
}

.tool-bt-group .love-bt input {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.tool-bt-group .bt {
  height: 2rem;
  width: 2rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity, 1));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.tool-bt-group .bt:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(66 159 211 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.article-text {
  position: relative;
  width: 100%;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 16px;
  line-height: 1.75rem;
}

.article-text.closed {
  z-index: 10;
}

.article-text.closed::before {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: rgba(255,255,255,0) var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(255, 255, 255, 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  content: var(--tw-content);
  --tw-gradient-to: #fff var(--tw-gradient-to-position);
}

.article-foot {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.share-box {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1000px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-top-color: rgb(203 213 225 / var(--tw-border-opacity, 1));
  border-bottom-color: rgb(203 213 225 / var(--tw-border-opacity, 1));
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.share-box ul {
  display: flex;
  align-items: center;
}

.share-box ul li {
  margin-right: 0.5rem;
}

.share-box ul li a {
  display: flex;
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(148 163 184 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.share-box ul li a.fb {
  --tw-bg-opacity: 1;
  background-color: rgb(52 79 138 / var(--tw-bg-opacity, 1));
}

.share-box ul li a.tw {
  --tw-bg-opacity: 1;
  background-color: rgb(30 151 235 / var(--tw-bg-opacity, 1));
}

.share-box ul li a.wa {
  --tw-bg-opacity: 1;
  background-color: rgb(23 128 115 / var(--tw-bg-opacity, 1));
}

.share-box ul li a.li {
  --tw-bg-opacity: 1;
  background-color: rgb(20 187 40 / var(--tw-bg-opacity, 1));
}

.share-box ul li h5 {
  margin-right: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}

.right-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.master.detail-premium {
  margin-top: 0px;
}

.master.detail-premium header .left-group,
    .master.detail-premium header .right-group {
  width: 200px;
}

.master.detail-premium header {
  position: fixed;
  top: 0px;
  left: 50%;
  z-index: 50;
  width: 100%;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.master.detail-premium header .top-header {
  background-color: rgba(255,255,255,0);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.master.detail-epaper header .left-group,
    .master.detail-epaper header .right-group {
  width: 300px;
}

.master.detail-epaper .article .article-ct {
  margin-top: 0.5rem;
}

.mi-breadcrumb {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.mi-breadcrumb a {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.master.detail-epaper .article .article-ct .text h1 {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 800px;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
}

.master.detail-epaper .article .article-ct .bottom-article-header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  border-top-width: 1px;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-top-color: rgb(203 213 225 / var(--tw-border-opacity, 1));
  border-bottom-color: rgb(203 213 225 / var(--tw-border-opacity, 1));
}

.master.detail-epaper .article .article-ct .bottom-article-header .tool-bt-group {
  justify-content: flex-end;
}

.master.detail-epaper .article .article-ct .epaper-img {
  width: 100%;
}

.master.detail-epaper .article .article-ct .epaper-img img {
  width: 100%;
}

.master.detail-epaper .top-header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

.master.detail-epaper {
  padding-top: 80px;
}

.master.detail-epaper .article-footer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  max-width: 1000px;
  align-items: center;
  justify-content: space-between;
  border-top-width: 1px;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-top-color: rgb(203 213 225 / var(--tw-border-opacity, 1));
  border-bottom-color: rgb(203 213 225 / var(--tw-border-opacity, 1));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.master.detail-epaper .article-footer .share-box {
  margin-left: 0px;
  margin-right: 0px;
  width: 50%;
  border-top-color: transparent;
  border-bottom-color: transparent;
  padding-left: 0px;
  padding-right: 0px;
}

.master.detail-epaper .article-footer .share-box ul {
  justify-content: flex-end;
}

.master.detail-epaper .article-footer .editor-info {
  width: 50%;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.master.detail-epaper .article-footer .editor-info a {
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(25 118 186 / var(--tw-text-opacity, 1));
}

.master.detail-premium .main-menu,
    .master.detail-epaper .main-menu {
  position: fixed;
  top: 80px;
  left: -100%;
  z-index: 30;
  display: block;
  height: 100%;
  width: 12rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  padding-top: 1rem;
  padding-bottom: 1rem;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.master.detail-premium .main-menu.show,
    .master.detail-epaper .main-menu.show {
  left: 0px;
}

.master.detail-premium .main-menu li a,
    .master.detail-epaper .main-menu li a {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.master.detail-epaper .top-header,
    .master.detail-premium .top-header {
  z-index: 50;
}

.detail-premium .article-ct .meta-info .time,
    .detail-epaper .article-ct .meta-info .time {
  margin-right: 0.5rem;
}

.detail-premium .article-ct .meta-info .kanal,
    .detail-epaper .article-ct .meta-info .kanal {
  margin-left: 0.5rem;
  border-right-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(200 155 2 / var(--tw-text-opacity, 1));
}

.article-foot p {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.article-foot p span {
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(25 118 186 / var(--tw-text-opacity, 1));
}

.for-mobile {
  display: none;
}

.custom-banner-1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 4rem;
  padding-right: 4rem;
}

.custom-banner-1::before {
  position: absolute;
  top: 50%;
  left: 0px;
  z-index: -10;
  height: 80%;
  width: 100%;
  content: var(--tw-content);
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  background: url(../images/bg-banner.jpg) no-repeat center;
}

.custom-banner-1 h3 {
  margin-bottom: 0.5rem;
  font-family: "Libre Baskerville", serif;
  font-size: 1.5rem;
  line-height: 2rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.custom-banner-1 p {
  margin-bottom: 1.5rem;
  font-family: "Lato", serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.custom-banner-2 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  max-width: 1000px;
  align-items: center;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;
}

.custom-banner-2::before {
  position: absolute;
  top: 50%;
  left: 0px;
  z-index: -10;
  height: 80%;
  width: 100%;
  content: var(--tw-content);
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  background: url(../images/bg-banner.jpg) no-repeat center;
}

.custom-banner-2 p {
  margin-bottom: 1.5rem;
  padding-left: 3rem;
  text-align: center;
  font-family: "Lato", serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.custom-banner-3 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  display: flex;
  width: 100%;
  max-width: 1000px;
  align-items: center;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;
}

.custom-banner-3::before {
  position: absolute;
  top: 50%;
  left: 0px;
  z-index: -10;
  height: 60%;
  width: 100%;
  content: var(--tw-content);
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  background: url(../images/bg-banner.jpg) no-repeat center;
}

.custom-banner-3 p {
  text-align: center;
  font-family: "Lato", serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.offer {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 600px;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity, 1));
  padding: 2rem;
}

.offer h4 {
  margin-bottom: 0.75rem;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.offer ul {
  margin-bottom: 1.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.offer ul li {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: flex-start;
}

.offer ul li i.fa {
  margin-right: 0.5rem;
  padding-top: 0.25rem;
  --tw-text-opacity: 1;
  color: rgb(22 163 74 / var(--tw-text-opacity, 1));
}

.price-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  padding: 1rem;
}

.price-card h5 {
  font-family: "Lato", serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.price-card h5 span {
  font-size: 1.25rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(234 88 12 / var(--tw-text-opacity, 1));
}

.price-card p {
  font-family: "Lato", serif;
  font-size: 0.75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity, 1));
}

.price-card p span {
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(234 88 12 / var(--tw-text-opacity, 1));
}

.price-card.best-price {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(234 88 12 / var(--tw-border-opacity, 1));
}

.price-card.best-price::before{
  content: "BEST PRICE";
  position: absolute;
  left: 1rem;
  top: -0.75rem;
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgb(234 88 12 / var(--tw-bg-opacity, 1));
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.master.detail-premium header .top-header.sticks {
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity, 1));
}

@media only screen and (max-width: 768px){
  .for-mobile {
    display: block;
  }

  .for-desktop {
    display: none !important;
  }

  .master {
    padding-top: 50px;
  }

  .top-header {
    position: fixed;
    top: 0px;
    z-index: 50;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .left-group {
    width: 100%;
  }

  .right-group {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
  }

  .src-form {
    display: flex;
    align-items: center;
  }

  .src-form input {
    margin-left: 0.5rem;
    width: 7rem;
  }

  .logo {
    margin-right: 0px;
  }

  .main-menu {
    position: fixed;
    top: 50px;
    left: -100%;
    z-index: 30;
    display: block;
    height: 100%;
    width: 75%;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
    padding-top: 1rem;
    padding-bottom: 1rem;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .main-menu li {
    width: 100%;
  }

  .main-menu li a {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .main-menu.show {
    left: 0px;
  }

  section {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .mi-container {
    width: 100%;
  }

  .headline .mi-container {
    display: grid;
    height: auto;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
  }

  .headline-item:first,
        .headline-item {
    position: relative !important;
    height: auto;
    width: 100%;
  }

  .headline-item {
    position: relative;
    grid-column: span 2 / span 2;
    width: 100%;
  }

  .headline .headline-item:first-child {
    grid-column: span 2 / span 2;
    height: auto;
    width: 100%;
    padding-left: 0.25rem;
  }

  .headline-item:nth-child(2), .headline-item:nth-child(4) {
    left: 0px;
  }

  .headline-item:nth-child(4), .headline-item:nth-child(5) {
    top: auto;
  }

  .headline-item .text {
    padding: 1rem;
  }

  .headline-item .text p {
    display: none;
  }

  .headline-item .text h1,
        .headline-item .text h2 {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .mid-ct section {
    padding-left: 0px;
    padding-right: 0px;
  }

  .news-list-1 .news-item {
    grid-column: span 2 / span 2;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
  }

  .news-list-1 .news-item .pic {
    grid-column: span 1 / span 1;
  }

  .news-list-1 .news-item .text {
    grid-column: span 2 / span 2;
  }

  .news-list-1 .news-item .text p {
    display: none;
  }

  .news-list-1 .news-item .text h3,
        .news-list-1 .news-item:first-child .text h3 {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .meta-info {
    flex-wrap: wrap;
  }

  .premium-label {
    margin-bottom: 0.5rem;
  }

  .news-list-1 .news-item:first-child {
    border-style: none;
    padding-bottom: 0px;
  }

  .news-list-4 .premium-label {
    margin-bottom: 0px;
  }

  .rubrik-group .topics-list {
    padding: 1rem;
  }

  .rubrik-card .text h4 {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .news-list-5 .news-item {
    grid-column: span 2 / span 2;
  }

  .news-list-5 .news-item .pic,
        .news-list-5 .news-item .text {
    grid-column: span 2 / span 2;
  }

  .big-media .pic {
    height: auto;
  }

  footer {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .master.detail-epaper .article .article-ct .text h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .article-text {
    padding-left: 0px;
    padding-right: 0px;
  }

  .mi-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  section.article {
    padding-left: 0px;
    padding-right: 0px;
  }

  .master.detail-premium {
    padding-top: 0px;
  }

  .premium-img .text h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .premium-img .text {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .article-ct {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .article-foot,
        .share-box {
    padding-left: 0px;
    padding-right: 0px;
  }

  .bottom-article-header .meta-info p,
        .bottom-article-header span {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .tool-bt-group {
    border-bottom-color: transparent;
  }

  .bottom-article-header .meta-info {
    white-space: nowrap;
  }

  .news-list-1.grid-3 .news-item {
    grid-column: span 3 / span 3;
  }

  .logo-group {
    flex-wrap: wrap;
  }

  .logo-group a {
    margin-bottom: 0.5rem;
  }

  .offer {
    padding: 1rem;
  }

  .offer ul {
    padding-left: 0px;
    padding-right: 0px;
  }

  .custom-banner-1 {
    flex-wrap: wrap;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .custom-banner-1::before {
    height: 100%;
    background-size: cover;
  }

  .custom-banner-2 {
    flex-wrap: wrap;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .custom-banner-2::before {
    height: 100%;
    background-size: cover;
  }

  .custom-banner-2 img {
    margin-bottom: 1rem;
  }

  .custom-banner-2 .text p {
    padding-left: 0px;
  }

  .custom-banner-2 .text div {
    padding-left: 0px;
  }

  .custom-banner-3 {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .custom-banner-3::before {
    height: 100%;
    background-size: cover;
  }

  .custom-banner-3 {
    flex-wrap: wrap;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .custom-banner-3 p {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .footer-logo {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
  }
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-11 {
  grid-column: span 11 / span 11;
}

.col-span-12 {
  grid-column: span 12 / span 12;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.col-span-4 {
  grid-column: span 4 / span 4;
}

.col-span-6 {
  grid-column: span 6 / span 6;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.w-full {
  width: 100%;
}

.columns-2 {
  -moz-columns: 2;
       columns: 2;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-11 {
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-x-6 {
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}

.gap-y-2 {
  row-gap: 0.5rem;
}

.border-t {
  border-top-width: 1px;
}

.border-x-slate-300 {
  --tw-border-opacity: 1;
  border-left-color: rgb(203 213 225 / var(--tw-border-opacity, 1));
  border-right-color: rgb(203 213 225 / var(--tw-border-opacity, 1));
}

.border-r-slate-300 {
  --tw-border-opacity: 1;
  border-right-color: rgb(203 213 225 / var(--tw-border-opacity, 1));
}

.border-t-slate-300 {
  --tw-border-opacity: 1;
  border-top-color: rgb(203 213 225 / var(--tw-border-opacity, 1));
}

.bg-slate-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity, 1));
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.pl-12 {
  padding-left: 3rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.font-bold {
  font-weight: 700;
}

.text-miblue-600 {
  --tw-text-opacity: 1;
  color: rgb(66 159 211 / var(--tw-text-opacity, 1));
}

.text-slate-700 {
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity, 1));
}

/* 
.lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
}
.lato-bold {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
}
.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
} */

@media (min-width: 640px) {
  .sm\:order-1 {
    order: 1;
  }

  .sm\:order-2 {
    order: 2;
  }

  .sm\:col-span-1 {
    grid-column: span 1 / span 1;
  }

  .sm\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .sm\:col-span-3 {
    grid-column: span 3 / span 3;
  }

  .sm\:col-span-4 {
    grid-column: span 4 / span 4;
  }

  .sm\:col-span-6 {
    grid-column: span 6 / span 6;
  }

  .sm\:col-span-7 {
    grid-column: span 7 / span 7;
  }

  .sm\:col-span-9 {
    grid-column: span 9 / span 9;
  }

  .sm\:mb-0 {
    margin-bottom: 0px;
  }

  .sm\:flex-nowrap {
    flex-wrap: nowrap;
  }

  .sm\:justify-start {
    justify-content: flex-start;
  }

  .sm\:justify-end {
    justify-content: flex-end;
  }

  .sm\:gap-8 {
    gap: 2rem;
  }

  .sm\:border-x {
    border-left-width: 1px;
    border-right-width: 1px;
  }

  .sm\:border-r {
    border-right-width: 1px;
  }

  .sm\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sm\:pr-6 {
    padding-right: 1.5rem;
  }

  .sm\:text-left {
    text-align: left;
  }
}

  