@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
.lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
}
.lato-bold {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
}
.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
} */
@layer base{
    .master{
        @apply w-full overflow-x-hidden;
    }
    section{
        @apply mb-14;
    }
    p{
        @apply font-lato;
    }
    .top-header{
        @apply bg-slate-900 py-3;
    }
    .top-header .left-group{
        @apply flex;
    }
    .top-header .left-group .menu-btn{
        @apply text-sm text-gray-200;
    }
    .menu-btn{
        @apply flex items-center;
    }
    .menu-btn i{
        @apply mr-1 w-3;
    }
    .src-form input{
        @apply bg-slate-900 text-white text-sm;
    }
    .src-form button{
        @apply text-gray-200;
    }
    .top-header .left-group span{
        @apply mx-4 text-gray-400;
    }
    .btn{
        @apply px-3 py-1.5 text-sm text-gray-200;
    }
    .btn.primary{
        @apply bg-miblue-600 rounded-full hover:bg-miblue-700 transition-all;
    }
    .btn.btn-more{
        @apply w-full text-center block py-2 border border-slate-400 text-slate-500 transition-all
        hover:border-gold hover:text-gold;
    }
    .mi-container{
        @apply w-1340 mx-auto px-4;
    }
    .bottom-header{
        @apply py-3 border-b border-b-gray-200;
    }
    .logo{
        @apply w-40 h-14 mr-12;
    }
    .logo img{
        @apply object-contain w-full h-full;
    }
    .main-menu{
        @apply flex;
    }
    .main-menu li{
        @apply text-sm;
    }
    .main-menu li a{
        @apply px-3 py-2;
    }
    .banner{
        @apply text-center py-9;
    }
    .banner a,
    .banner iframe{
        @apply inline-block leading-none;
    }
    .pic img{
        @apply w-full h-full object-cover;
    }

    /*SECTION TITLE*/
    .section-title{
        @apply w-full relative py-2 border-b border-b-slate-200 mb-4 before:w-8 before:h-[1px] before:bg-red-600 before:absolute before:bottom-[-1px] before:left-0;
    }
    .section-title h3{
        @apply text-[16px] font-bold font-lato;
    }
    /*SECTION TITLE END*/

    /* NEWS ITEM */
    .news-item{
        @apply w-full;
    }
    .news-item .text h3{
        @apply w-full font-bold w-full font-libre mb-2;
    }
    .news-item .text p{
        @apply w-full font-lato text-sm text-slate-500;
    }
    .meta-info{
        @apply w-full flex items-center;
    }
    .meta-info .time{
        @apply text-slate-400 text-xs;
    }
    .meta-info .kanal{
        @apply text-slate-400 text-xs pr-3 mr-3 border-r border-r-slate-300;
    }
    .meta-info .premium-label{
        @apply bg-gold text-xs text-white px-3 py-[2px] mr-3;
    }
    /* NEWS ITEM END */

    /*HEADLINE*/
    .headline .mi-container{
        @apply relative h-[480px];
    }
    .headline-item{
        @apply w-1/4 absolute h-60 p-1;
    }
    .headline-item:first-child{
        @apply ml-0 mb-0 h-[480px] pl-0;
        width: calc(50% - 16px);
    }
    .headline-item:nth-child(2),
    .headline-item:nth-child(3){
        @apply top-0;
    }
    .headline-item:nth-child(4),
    .headline-item:nth-child(5){
        @apply top-1/2;
    }
    .headline-item:nth-child(2),
    .headline-item:nth-child(4){
        @apply left-1/2;
    }
    .headline-item:nth-child(3),
    .headline-item:nth-child(5){
        @apply right-0;
    }
    .headline-item .text{
        @apply absolute bottom-0 left-0 w-full p-8 z-20;
    }
    .headline-item .text h1{
        @apply font-libre text-2xl font-bold text-white w-full mb-2;
    }
    .headline-item .text h2{
        @apply font-libre text-[17px] font-bold text-white w-full mb-2;
    }
    .headline-item .text p{
        @apply text-sm text-white mb-3 font-lato font-normal;
    }

    .headline-item .pic{
        @apply h-full relative
        before:w-full before:h-full before:absolute before:bg-gradient-to-t before:from-slate-950 before:to-[rgba(0,0,0,0)] before:bottom-0 before:left-0 before:z-10;;
    }
    .headline-item .pic img{
        @apply block;
    }

    /* NEWS LIST 1 */
    .news-list-1{
        @apply grid grid-cols-2 gap-6 mb-6;
    }
    .news-list-1 .news-item{
        @apply col-span-1 first:col-span-2 first:border-b first:border-b-slate-300 first:pb-6;
    }
    .news-list-1 .pic{
        @apply w-full mb-4;
    }
    .news-list-1 .meta-info{
        @apply mb-2;
    }
    .news-list-1 .news-item:first-child .text h3{
        @apply text-[22px];
    }
    .news-list-1.grid-3{
        @apply grid-cols-3;
    }
    .news-list-1.grid-3 .news-item{
        @apply col-span-1;
    }
    .news-list-1.grid-3 .news-item:first-child{
        @apply col-span-3 grid grid-cols-12 gap-4;
    }
    .news-list-1.grid-3 .news-item:first-child .pic{
        @apply col-span-5 mb-0;
    }
    .news-list-1.grid-3 .news-item:first-child .text{
        @apply col-span-7;
    }
    /* NEWS LIST 1 END*/

    /* NEWS LIST 2 */
    .news-list-2{
        @apply w-full;
    }
    .news-list-2 .news-item{
        @apply mb-6;
    }
    .news-list-2 .news-item .text h3{
        @apply text-sm;
    }
    .news-list-2 .meta-info{
        @apply mb-3;
    }
    .news-list-2 .news-item .text p{
        @apply line-clamp-3;
    }
    .news-list-2 .news-item .pic{
        @apply mb-3;
    }
    /* NEWS LIST 2 END */

    /* NEWS LIST 3 */
    .news-list-3{
        @apply w-full;
    }
    .news-list-3 .news-item{
        @apply w-full mb-6 flex;
    }
    .news-list-3 .news-item .pic{
        @apply w-16 h-16 border border-slate-300;
    }
    .news-list-3 .news-item .text{
        @apply pl-4;
    }
    .news-list-3 .news-item .text h3{
        @apply text-sm;
    }
    /* NEWS LIST 3 END */

    /* EPAPER CARD */
    .e-paper-card{
        @apply w-full bg-miblue-900 p-4;
    }
    .e-paper-card .btn.primary{
        @apply rounded-none mt-4 w-full block text-center;
    }
    /* EPAPER CARD END */

    /* NEWS LIST 4 */
    .news-list-4{
        @apply w-full;
    }
    .news-list-4 .news-item{
        @apply mb-6 flex first:flex-wrap;
    }
    .news-list-4 .news-item .pic{
        @apply w-full max-w-16 h-16 ;
    }
    .news-list-4 .news-item:first-child .pic{
        @apply w-full h-48 max-w-none;
    }
    .news-list-4 .news-item .text{
        @apply pl-3;
    }
    .news-list-4 .news-item:first-child .text{
        @apply pl-0;
    }
    .news-list-4 .news-item .text h3{
        @apply text-sm;
    }
    .news-list-4 .news-item:first-child .pic{
        @apply mb-4;
    }
    .news-list-4 .news-item:first-child .meta-info{
        @apply mb-3;
    }
    /* NEWS LIST 4 END */

    /* TOPIC */
    .topic-card{
        @apply w-full;
    }
    .topic-title{
        @apply w-full p-3 text-center text-white text-sm font-lato bg-miblue-900;
    }
    .topic-card-ct{
        @apply flex items-center p-4 border border-slate-300;
    }
    .topic-card-ct .pic{
        @apply w-full max-w-24;
    }
    .topic-card-ct .text{
        @apply pl-4;
    }
    .topic-card-ct .text span{
        @apply font-lato text-xs text-gold block mb-1;
    }
    .topic-card-ct .text h3{
        @apply w-full font-libre font-bold;
    }
    /* TOPIC END */

    /* RUBRIK CARD */
    .rubrik-card{
        @apply w-full;
    }
    .rubrik-card .text{
        @apply px-4 py-2 bg-white flex justify-between;
    }
    .rubrik-card .text button{
        @apply w-8 h-8 border border-slate-300 rounded-full text-slate-600 transition-all
        hover:bg-miblue-600 hover:text-white hover:border-miblue-600;
    }
    .rubrik-card .text h4{
        @apply font-libre text-[16px] font-bold;
    }
    .rubrik-card .text span{
        @apply text-xs text-slate-500;
    }
    .rubrik-group{
        @apply w-full bg-white;
    }
    .rubrik-group .pic{
        @apply h-32;
    }
    .rubrik-group .topics-list{
        @apply px-8 py-5;
    }
    .rubrik-group .topics-list button{
        @apply inline-block px-4 py-1 border border-black text-sm font-lato mr-2 mb-3 transition-all
        hover:bg-slate-900 hover:border-slate-900 hover:text-white;
    }
    /* RUBRIK CARD END*/

    /* NEWS LIST 5 */
    .news-list-5{
        @apply w-full grid grid-cols-2 gap-8;
    }
    .news-list-5 .news-item{
        @apply col-span-1 grid grid-cols-2 gap-5;
    }
    .news-list-5 .news-item .pic{
        @apply h-52;
    }
    .news-list-5 .news-item .meta-info{
        @apply mb-3;
    }
    .news-list-5 .news-item .text p{
        @apply line-clamp-4;
    }
    /* NEWS LIST 5 END */

    /* VIDEO */
    .small-media{
        @apply w-full;
    }
    .small-media .video-item{
        @apply grid grid-cols-12 gap-5 mb-5 pb-5 border-b border-b-slate-300;
    }
    .small-media .video-item .pic{
        @apply col-span-5 h-24;
    }
    .small-media .video-item .text{
        @apply col-span-7;
    }
    .small-media .video-item .text h3{
        @apply font-libre text-sm font-bold mb-3;
    }
    .big-media{
        @apply w-full;
    }
    .big-media .pic{
        @apply h-[500px] mb-4;
    }
    .big-media .text h3{
        @apply font-libre font-bold text-2xl mb-3;
    }
    .big-media .meta-info{
        @apply mb-3;
    }
    .big-media .text p{
        @apply text-sm text-slate-500;
    }
    /* VIDEO END */

    /* NEWS LIST 6 */
    .news-list-6{
        @apply w-full;
    }
    .news-list-6 .news-item{
        @apply mb-6 flex;
    }
    .news-list-6 .news-item .meta-info{
        @apply mb-3;
    }
    .news-list-6 .news-item .pic{
        @apply w-full max-w-16;
    }
    .news-list-6 .news-item .text{
        @apply pl-5;
    }
    .news-list-6 .news-item .text h3{
        @apply text-sm;
    }
    .news-list-6 .news-item:first-child{
        @apply flex-wrap;
    }
    .news-list-6 .news-item:first-child .pic{
        @apply max-w-none mb-3;
    }
    .news-list-6 .news-item:first-child .text{
        @apply pl-0;
    }
    /* NEWS LIST 6 END */

    /* INFOGRAPHIC CARD */
    .infographic-card{
        @apply w-full;
    }
    .infographic-card .pic{
        @apply h-48;
    }
    .infographic-card .text{
        @apply bg-slate-100 p-4;
    }
    .infographic-card .text h3{
        @apply font-libre text-sm font-bold mb-3;
    }
    /* INFOGRAPHIC CARD END */

    .logo-group{
        @apply flex items-center justify-center my-6;
    }
    .logo-group img{
        @apply w-20 h-9 object-contain;
    }

    /* FOOTER */
    footer{
        @apply bg-slate-900 w-full py-16 text-slate-200;
    }
    footer h4{
        @apply text-sm mb-8 font-libre font-bold;
    }
    footer h5{
        @apply text-xs font-bold mb-2;
    }
    .sitemap a{
        @apply text-xs block py-1;
    }
    footer p{
        @apply text-xs mb-0;
    }
    footer p i{
        @apply mr-2;
    }
    .foot-bottom{
        @apply bg-slate-950 text-slate-200 text-sm py-4;
    }
    .social li{
        @apply ml-4;
    }
    /* FOOTER END */

    .premium-img{
        @apply relative h-[100vh] w-full flex justify-center items-center bg-black;
    }
    .premium-img img{
        @apply absolute w-full h-full top-0 left-0 object-cover opacity-30;
    }
    .premium-img .text{
        @apply w-full max-w-[800px] relative z-10 text-center;
    }
    .premium-img .text h1{
        @apply text-5xl text-white font-libre font-bold mb-4;
    }
    .premium-img .text p{
        @apply text-sm text-white font-lato;
    }
    .article-ct{
        @apply w-full max-w-[1000px] mx-auto my-10;
    }
    .tool-bt-group{
        @apply w-full flex justify-center items-center py-4 border-b border-b-slate-300;
    }
    .tool-bt-group .love-bt,
    .tool-bt-group .bt{
        @apply mx-1;
    }
    .tool-bt-group .love-bt{
        @apply w-8 h-8 relative flex justify-center items-center;
    }
    .tool-bt-group .love-bt input{
        @apply absolute top-0 left-0 w-full h-full opacity-0 z-10;
    }
    .tool-bt-group .bt{
        @apply w-8 h-8 bg-slate-200 text-slate-900 rounded-full hover:bg-miblue-600 hover:text-white transition-all;
    }
    .article-text{
        @apply w-full px-16 py-8 text-[16px] leading-7 relative
    }
    .article-text.closed{
        @apply before:w-full before:h-full before:absolute before:left-0 before:bottom-0 before:bg-gradient-to-b before:from-[rgba(255,255,255,0)] before:to-white z-10;
    }
    .article-foot{
        @apply w-full py-4 px-16;
    }
    .share-box{
        @apply w-full max-w-[1000px] mx-auto py-4 px-16 border-y border-y-slate-300;
    }
    .share-box ul{
        @apply flex items-center;
    }
    .share-box ul li{
        @apply mr-2;
    }
    .share-box ul li a{
        @apply flex justify-center items-center w-8 h-8 bg-slate-400 text-white rounded-full;
    }
    .share-box ul li a.fb{
        @apply bg-[#344F8A];
    }
    .share-box ul li a.tw{
        @apply bg-[#1E97EB];
    }
    .share-box ul li a.wa{
        @apply bg-[#178073];
    }
    .share-box ul li a.li{
        @apply bg-[#14BB28];
    }
    .share-box ul li h5{
        @apply font-bold text-sm mr-4;
    }

    .right-group{
        @apply flex justify-end items-center;
    }

    .master.detail-premium{
        @apply mt-0;
    }
    .master.detail-premium header .left-group,
    .master.detail-premium header .right-group{
        @apply w-[200px];
    }
    .master.detail-premium header{
        @apply fixed top-0 left-1/2 z-50 -translate-x-1/2 w-full;
    }
    .master.detail-premium header .top-header{
        @apply bg-[rgba(255,255,255,0)] transition-all;
    }
    .master.detail-epaper header .left-group,
    .master.detail-epaper header .right-group{
        @apply w-[300px];
    }

    .master.detail-epaper .article .article-ct{
        @apply mt-2;
    }
    .mi-breadcrumb{
        @apply flex items-center text-sm;
    }
    .mi-breadcrumb a{
        @apply px-2;
    }
    .master.detail-epaper .article .article-ct .text h1{
        @apply w-full max-w-[800px] mx-auto text-center text-5xl font-libre font-bold py-16;
    }
    .master.detail-epaper .article .article-ct .bottom-article-header{
        @apply flex justify-between border-y border-y-slate-300 mb-8;
    }
    .master.detail-epaper .article .article-ct .bottom-article-header .tool-bt-group{
        @apply justify-end;
    }
    .master.detail-epaper .article .article-ct .epaper-img{
        @apply w-full;
    }
    .master.detail-epaper .article .article-ct .epaper-img img{
        @apply w-full;
    }
    .master.detail-epaper .top-header{
        @apply fixed top-0 left-0 w-full;
    }
    .master.detail-epaper{
        @apply pt-[80px];
    }

    .master.detail-epaper .article-footer {
        @apply w-full max-w-[1000px] mx-auto flex justify-between items-center border-y border-y-slate-300 py-2;
    }
    .master.detail-epaper .article-footer .share-box{
        @apply w-1/2 border-y-transparent mx-0 px-0;
    }
    .master.detail-epaper .article-footer .share-box ul{
        @apply justify-end;
    }
    .master.detail-epaper .article-footer .editor-info{
        @apply text-sm w-1/2;
    }
    .master.detail-epaper .article-footer .editor-info a{
        @apply text-miblue-700 font-bold;
    }

    .master.detail-premium .main-menu,
    .master.detail-epaper .main-menu{
        @apply fixed w-48 h-full top-[80px] -left-full bg-white z-30 transition-all block py-4 shadow-lg;
    }
    .master.detail-premium .main-menu.show,
    .master.detail-epaper .main-menu.show{
        @apply left-0;
    }
    .master.detail-premium .main-menu li a,
    .master.detail-epaper .main-menu li a{
        @apply block py-2;
    }
    .master.detail-epaper .top-header,
    .master.detail-premium .top-header{
        @apply z-50;
    }

    .detail-premium .article-ct .meta-info .time,
    .detail-epaper .article-ct .meta-info .time{
        @apply mr-2;
    }
    .detail-premium .article-ct .meta-info .kanal,
    .detail-epaper .article-ct .meta-info .kanal{
        @apply ml-2 border-r-transparent text-gold;
    }
    .article-foot p{
        @apply text-sm;
    }
    .article-foot p span{
        @apply text-miblue-700 font-bold;
    }

    .for-mobile{
        @apply hidden;
    }

    .custom-banner-1{
        @apply flex items-center justify-between px-16 relative
        before:w-full before:h-[80%] before:absolute before:top-1/2 before:left-0 before:-translate-y-1/2 before:-z-10;
    }
    .custom-banner-1::before{
        background: url(../images/bg-banner.jpg) no-repeat center;
    }
    .custom-banner-1 h3{
        @apply text-white font-libre text-2xl mb-2;
    }
    .custom-banner-1 p{
        @apply text-white font-lato text-sm mb-6;
    }

    .custom-banner-2{
        @apply flex items-center justify-between px-12 relative w-full max-w-[1000px] mx-auto
        before:w-full before:h-[80%] before:absolute before:top-1/2 before:left-0 before:-translate-y-1/2 before:-z-10;
    }
    .custom-banner-2::before{
        background: url(../images/bg-banner.jpg) no-repeat center;
    }
    .custom-banner-2 p{
        @apply text-white font-lato text-sm mb-6 text-center pl-12;
    }

    .custom-banner-3{
        @apply flex items-center mb-8 justify-between px-12 relative w-full max-w-[1000px] mx-auto
        before:w-full before:h-[60%] before:absolute before:top-1/2 before:left-0 before:-translate-y-1/2 before:-z-10;
    }
    .custom-banner-3::before{
        background: url(../images/bg-banner.jpg) no-repeat center;
    }
    .custom-banner-3 p{
        @apply text-white font-lato text-sm text-center;
    }

    .offer{
        @apply w-full max-w-[600px] mx-auto bg-slate-100 rounded-lg p-8;
    }
    .offer h4{
        @apply text-lg font-bold font-libre text-center mb-3;
    }
    .offer ul{
        @apply text-sm px-16 mb-6;
    }
    .offer ul li{
        @apply mb-2 flex items-start;
    }
    .offer ul li i.fa{
        @apply mr-2 pt-1 text-green-600;
    }
    .price-card{
        @apply bg-white p-4 rounded-lg flex items-center justify-between relative;
    }
    .price-card h5{
        @apply font-bold text-lg font-lato;
    }
    .price-card h5 span{
        @apply text-xl text-orange-600;
    }
    .price-card p{
        @apply font-lato text-xs text-slate-600;
    }
    .price-card p span{
        @apply text-orange-600 font-bold;
    }
    .price-card.best-price{
        @apply border border-orange-600;
    }
    .price-card.best-price::before{
        content: "BEST PRICE";
        @apply px-2 py-1 bg-orange-600 rounded-md absolute left-4 text-xs text-white -top-3;
    }
    .master.detail-premium header .top-header.sticks{
        @apply bg-slate-900;
    }
    .offer-2{
        @apply px-16 mb-4;
    }
    .price-card-2{
        @apply w-full bg-[#429fd3] rounded-3xl overflow-hidden shadow-lg font-lato; 
    }
    .price-card-2 .price-card-title{
        @apply text-center py-3 text-white text-lg;
    }
    .price-card-2 .price-card-ct{
        @apply rounded-3xl p-8;
        background: #fff url(../images/bg-price.png) no-repeat center top;
    }
    .package-ico{
        @apply w-24 h-24 mx-auto mt-5 mb-16;
    }
    .package-ico img{
        @apply w-full h-full object-contain;
    }
    .price-card-ct ul{
        @apply mb-10;
    }
    .price-card-ct li{
        @apply text-[16px] text-[#656565] leading-8;
    }
    .price-card-ct li i{
        @apply text-[#4fbc74];
    }
    .price-card-ct .price{
        @apply text-center text-[#429fd3] text-[26px] font-bold mb-4;
    }
    .price-card-ct .price span{
        @apply text-[16px] font-normal;
    }
    .price-btn{
        @apply w-full block text-center rounded-lg bg-[#429fd3] py-2 text-white;
    }
    .subs-cta{
        @apply flex items-center justify-between bg-[#0079bc] rounded-3xl p-4;
    }
    .subs-cta .price-btn{
        @apply max-w-[160px];
    }
    .subs-cta p{
        @apply text-sm px-10 text-white;
    }

    .login-page{
        @apply bg-slate-100 h-[100vh];
    }
    .login-header{
        @apply bg-slate-900 flex justify-center py-2;
    }
    .login-header img{
        @apply h-12;
    }
    .login-form-container{
        @apply w-full max-w-96 mx-auto py-20;
    }
    .form-title{
        @apply text-2xl font-bold mb-7;
    }
    .frm-group{
        @apply w-full mb-4;
    }
    .frm-group label{
        @apply text-xs text-slate-500 w-full block mb-1;
    }
    .frm-group input,
    .forget-password input{
        @apply w-full px-6 py-3 border text-sm border-slate-200 rounded-lg transition-all focus:border-blue-500 focus:shadow-lg focus:outline-none;
    }
    .btn.btn-white{
        @apply bg-white text-miblue-700 border border-miblue-700 rounded-lg;
    }
    .btn.facebook{
        @apply bg-miblue-700 rounded-lg text-white;
    }
    .frm-group p, .frm-group a{
        @apply text-sm text-slate-700;
    }
    .frm-group a{
        @apply text-miblue-700;
    }
    .payment-card{
        @apply rounded-lg p-6 bg-white;
    }
    .payment-method-item{
        @apply w-full relative border border-slate-300 rounded-lg h-10 block bg-white p-1 hover:cursor-pointer hover:border-miblue-700 transition-all;
    }
    .payment-method-item.checked{
        @apply border-miblue-700;
    }
    .payment-method-item input{
        @apply absolute w-full h-full z-10 top-0 left-0 opacity-0;
    }
    .payment-method-item img{
        @apply w-full h-full object-contain;
    }
    .container{
        @apply w-full max-w-[1200px] mx-auto px-4;
    }
    .form-subtitle{
        @apply text-slate-500 font-normal font-lato; 
    }
    .topik-item{
        @apply flex items-center gap-2 relative p-2 pr-4 border border-slate-300 rounded-full transition-all hover:shadow-lg;
    }
    .topik-item img{
        @apply w-10 h-10 object-cover rounded-full;
    }
    .topik-item input{
        @apply absolute w-full h-full z-10 opacity-0 hover:cursor-pointer;
    }
    .topik-item.active{
        @apply bg-blue-200;
    }
    .wallet-logo-group{
        @apply w-full;
    }
    .wallet-logo-group img{
        @apply inline-block h-5 w-auto object-contain mb-4 mx-2;
    }
    .how-to-item img{
        @apply mb-4 w-24 h-24 object-cover mx-auto;
    } 

    .mi-accordion{
        @apply w-full;
    }
    .acc-item{
        @apply w-full relative border border-slate-200 mb-2 rounded-md;
    }
    .acc-item.active{
        @apply shadow-lg;
    }
    .acc-head{
        @apply flex justify-between items-center px-6 py-4;
    }
    .acc-body{
        @apply p-6 border-t border-t-slate-100 hidden;
    }
    .acc-item .acc-head i{
        @apply transition-all;
    }
    .acc-item.active .acc-head i{
        @apply rotate-180;
    }
    
    .overlay{
        @apply opacity-0 pointer-events-none transition-all w-full h-full p-4 fixed top-0 left-0 z-50 bg-[rgba(0,0,0,0.5)];
    }
    .overlay.show{
        @apply opacity-100 pointer-events-auto;
    }
    .popup{
        @apply absolute w-[96%] max-w-lg bg-white px-8 py-6 rounded-xl top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    }
    .forget-password input{
        @apply !text-center mb-6;
    }
    .forget-password button{
        @apply !rounded-lg;
    }
    

    @media only screen and (max-width: 768px){
        .for-mobile{
            @apply block;
        }
        .for-desktop{
            @apply !hidden;
        }
        .master{
            @apply pt-[50px];
        }
        .top-header{
            @apply w-full px-4 fixed top-0 z-50;
        }
        .left-group{
            @apply w-full;
        }
        .right-group{
            @apply w-full flex items-center justify-end;
        }
        .src-form{
            @apply flex items-center;
        }
        .src-form input{
            @apply w-28 ml-2;
        }
        .logo{
            @apply mr-0;
        }
        .main-menu{
            @apply fixed w-3/4 h-full top-[50px] -left-full bg-white z-30 transition-all block py-4 shadow-lg;
        }
        .main-menu li{
            @apply w-full;
        }
        .main-menu li a{
            @apply py-3 px-8 block;
        }
        .main-menu.show{
            @apply left-0;
        }
        section{
            @apply px-4;
        }
        .mi-container{
            @apply w-full;
        }
        .headline .mi-container{
            @apply grid grid-cols-2 gap-2 h-auto;
        }
        .headline-item:first,
        .headline-item{
            @apply !relative h-auto w-full;
        }
        .headline-item{
            @apply col-span-2 relative w-full;
        }
        .headline .headline-item:first-child{
            @apply col-span-2 w-full h-auto pl-1;
        }
        .headline-item:nth-child(2), .headline-item:nth-child(4){
            @apply left-0;
        }
        .headline-item:nth-child(4), .headline-item:nth-child(5){
            @apply top-auto;
        }
        .headline-item .text{
            @apply p-4;
        }
        .headline-item .text p{
            @apply hidden;
        }
        .headline-item .text h1,
        .headline-item .text h2{
            @apply text-sm;
        }
        .mid-ct section{
            @apply px-0;
        }
        .news-list-1 .news-item{
            @apply col-span-2 grid grid-cols-3 gap-4;
        }
        .news-list-1 .news-item .pic{
            @apply col-span-1;
        }
        .news-list-1 .news-item .text{
            @apply col-span-2;
        }
        .news-list-1 .news-item .text p{
            @apply hidden;
        }
        .news-list-1 .news-item .text h3,
        .news-list-1 .news-item:first-child .text h3{
            @apply text-sm;
        }
        .meta-info{
            @apply flex-wrap;
        }
        .premium-label{
            @apply mb-2;
        }
        .news-list-1 .news-item:first-child{
            @apply pb-0 border-none;
        }
        .news-list-4 .premium-label{
            @apply mb-0;
        }
        .rubrik-group .topics-list{
            @apply p-4;
        }
        .rubrik-card .text h4{
            @apply text-sm;
        }
        .news-list-5 .news-item{
            @apply col-span-2;
        }
        .news-list-5 .news-item .pic,
        .news-list-5 .news-item .text{
            @apply col-span-2;
        }
        .big-media .pic{
            @apply h-auto;
        }
        footer{
            @apply px-4;
        }

        .master.detail-epaper .article .article-ct .text h1{
            @apply text-2xl;
        }
        .article-text{
            @apply px-0;
        }
        .mi-container{
            @apply px-0;
        }
        section.article{
            @apply px-0;
        }
        .master.detail-premium{
            @apply pt-0;
        }
        .premium-img .text h1{
            @apply text-2xl;
        }
        .premium-img .text{
            @apply px-4;
        }
        .article-ct{
            @apply px-4;
        }
        .article-foot,
        .share-box{
            @apply px-0;
        }
        .bottom-article-header .meta-info p,
        .bottom-article-header span{
            @apply text-sm;
        }
        .tool-bt-group{
            @apply border-b-transparent
        }
        .bottom-article-header .meta-info{
            @apply whitespace-nowrap;
        }
        .news-list-1.grid-3 .news-item{
            @apply col-span-3;
        }
        .logo-group{
            @apply flex-wrap;
        }
        .logo-group a{
            @apply mb-2;
        }
        .offer{
            @apply p-4;
        }
        .offer ul{
            @apply px-0;
        }
        .custom-banner-1{
            @apply px-4 flex-wrap py-8;
        }
        .custom-banner-1::before{
            @apply h-full bg-cover;
        }
        .custom-banner-2{
            @apply px-4 flex-wrap py-8;
        }
        .custom-banner-2::before{
            @apply h-full bg-cover;
        }
        .custom-banner-2 img{
            @apply mb-4;
        }
        .custom-banner-2 .text p{
            @apply pl-0;
        }
        .custom-banner-2 .text div{
            @apply pl-0;
        }
        .custom-banner-3{
            @apply px-4 flex-wrap py-8 justify-center;
        }
        .custom-banner-3::before{
            @apply h-full bg-cover;
        }
        .custom-banner-3{
            @apply px-4 flex-wrap py-8;
        }
        .custom-banner-3 p{
            @apply py-4;
        }
        .footer-logo{
            @apply flex justify-center mb-8;
        }
        .offer-2{
            @apply px-2;
        }
    }


}

  